/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
/terraform/.terraform
/terraform/terraform.key.json
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
/terraform/variables.tf
.terraform/
.terraform.lock.hcl
*.terraform.lock.hcl
*.terraform.key.json
/terraform/stage/terraform.key.json
/terraform/prod/terraform.key.json
terraform.key.json
*.retry
vault.json
crash.log
*.box
packer_cache/
