[Unit]
Description=Reddit Puma
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/reddit
ExecStart=/home/ubuntu/puma.sh start
ExecStop=/bin/kill -9 $MAINPID
KillMode=process
[Install]
WantedBy=multi-user.target
